*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 34px;
  font-weight: 700;
}
h2{
  font-size: 20px;
  font-weight: 500;
}
h3{
  font-size: 14px;
  font-weight: 400;
}
p {
  font-size: 14px;
  font-weight: 200;
}


:root{
        /* Grønne toner */
        --deepGreen: #54845E;
        --midGreen: #82B28C;
        --lightGreen: #E4FAEE;
        /* Blå toner */
        --deepBlue: #305F72;
        --midBlue: #66BADD;
        --lightBlue: #E4F7FA;
        /* Gule toner */
        --deepYellow: #E3C15C;
        --midYellow: #FFF5D8;
        --lightYellow: #FFF5E5;
        /* Andre farver */
        --white: #FFF;
}


/* Landingpage */

.landingBackground{
    background-image: url("../img/background.png");
    background-position: center;
    border-radius: 0 0 35px 35px;
    height: 260px;
}
.backgroundWhite{
  background-image: url("../img/background_white.png");
  background-position: center;
  height:100%;
  background-size: cover;
}

.logo{
    width: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    z-index: 1;
}
.maskot{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    z-index: 2;
}

.landingBox {
    background-color: var(--lightYellow);
    margin: 10px;
    padding: 30px 10px;
    border-radius: 20px;
    margin: 40px 20px;
}
.boxText{
    text-align: center;
    color: var(--deepBlue);
}
.btn {
    display: flex;
    background-color: var(--deepYellow);
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 150px;
    margin-top: 10px !important;
}
.loginBtn{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.btnText {
    color: var(--white);
    font-weight: 600;
}
.loginArrow{
    color: var(--white);

}
.landingText{
    color: var(--deepBlue);
    text-align: center;
    font-size: 12px;
    margin: 40px 20px;
}




/* Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    color: #fff;
    float: right;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    background-color: var(--deepGreen);
    padding: 10px;
    border-radius: 15px;
  }

  .bar {
    width: 20px;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s ease;
  }

  .menu {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--deepGreen);
    z-index: 1;
    transition: all 0.2s ease;
  }

  .menu.show {
    top: 0;
  }

  .menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .back-btn {
    background-color: var(--midGreen);
    padding: 10px;
    border-radius: 15px;
  }

  .menu-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
  }

  .fa {
    margin-right: 10px;
  }

  .profileFlex{
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    justify-content: center;
  }
  .profile1{
    font-size: 35px;
    margin-right: 15px;
  }

  .menu li.active {
    font-weight: 600;
    background-color: var(--midGreen);
    padding: 10px;
    margin: 0px 40px;
    border-radius: 15px;
    margin-top: 20px;
  }

  .profileName{
    font-weight: 600;
  }


  /* Index page */
  .btnIndex{
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .rewardBox{
      margin: 10px;
      padding: 30px 10px;
      border-radius: 20px;
      margin: 20px 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .color1{
    background-color: var(--lightGreen);
  }
  .color2{
    background-color: var(--lightBlue);
  }
  .color3{
    background-color: var(--lightYellow);
  }

  .fa-circle-play{
    font-size: 30px;
    color: var(--deepGreen);
  }

  .activeText{
    font-weight: 600;
  }