* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 34px;
  font-weight: 900;
  text-align: center;
  color: var(--white);
}

.underOverskrift {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-weight: 900;
  color: var(--deepBlue);
}

h2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--deepBlue);
}

h3 {
  font-size: 14px;
  font-weight: 500;
  color: var(--deepBlue);
}

p {
  font-size: 14px;
  font-weight: 300;
  color: var(--deepBlue);
}

span {
  color: var(--deepBlue);
}

input:focus {
  outline: 2px solid var(--deepYellow);
  border: none;
 }

.greenLink {
  color: var(--deepGreen);
  text-decoration: underline;
  font-weight: 400;
}
li {
  list-style: none;
  text-decoration: none;
}

input[type='checkbox']:checked {
  background-color: var(--deepGreen);
}
input[type='checkbox']:checked:after {
  content: '\2713';
  color:white;
}
input[type='checkbox']{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 20px !important;
  height: 20px !important;
  appearance:none;
  border-radius:10%;
  border: 1px solid #d8d8d8;
  box-shadow: none;
  font-weight: 900;
}


:root {
  /* Grønne toner */
  --deepGreen: #54845E;
  --midGreen: #82B28C;
  --lightGreen: #E4FAEE;
  /* Blå toner */
  --deepBlue: #305F72;
  --midBlue: #66BADD;
  --lightBlue: #E4F7FA;
  /* Gule toner */
  --deepYellow: #E3C15C;
  --midYellow: #FFF5D8;
  --lightYellow: #FFF5E5;
  /* Andre farver */
  --white: #FFF;
  --lineGrey: #EEEEEE;
  --cardYellow: #99813B;
  --black: #000;
}

/* Styleguide */
.styleguide_textarea {
  width: 95%;
  height: 100px;
  overflow: scroll;
}

.btnStyleguideMenu {
  background-color: var(--deepYellow);
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px !important;
}

.btnStyleguide {
  background-color: var(--deepYellow);
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 150px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px !important;
  margin-bottom: 30px;
}

.btnStyleguide:hover {
  background-color: var(--midGreen);
  color: var(--white);
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: var(--deepBlue);
}

.styleguide_overskrift {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  color: var(--deepBlue);
  padding: 0 20px 0 20px;
  margin: 30px 0 10px 0;
  text-decoration: underline;
}

/* Landingpage */
#landingBack {
  margin-bottom: 18vh;
}

.background {
  background-image: url("../img/Bubbles.png");
  background-color: var(--deepGreen);
  background-position: center;
  border-radius: 0 0 35px 35px;
  height: 260px;
  z-index: -10;
}

.whiteBackground {
  background-color: var(--white);
  border-radius: 35px 35px 0 0;
  position: absolute;
  max-height: 100%;
  margin: -20% 0 0 0;
  width: 100%;
}

#whiteBackgroundShort {
  height: auto;
}

.logo {
  width: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  z-index: 1;
}

.maskot {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  position: relative;
  z-index: 5;
}

.landingBox {
  background-color: var(--lightYellow);
  margin: 10px;
  padding: 30px 10px;
  border-radius: 20px;
  margin: 30px 20px;
}

.boxText {
  text-align: center;
  color: var(--deepBlue);
}


.btn {
  display: flex;
  background-color: var(--deepYellow);
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 150px;
  text-decoration: none;
  margin-top: 10px !important;
  margin: auto;
}
.sociallogin {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.loginBtn {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}
.otherLogin {
  background-color: var(--midYellow);
    padding: 10px;
    border: none;
    border-radius: 15px;
    width: 162.5px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px !important;
}
.otherLogin img {
  width: 80px;
  height: auto;
}

.btnText {
  color: var(--white);
  font-weight: 600;
}

.loginArrow {
  color: var(--white);
}
.fa-arrow-right:before {
    content: "\f061";
    font-size: 20px;
}
.landingText {
  color: var(--deepBlue);
  text-align: center;
  font-size: 12px;
  margin: 40px 20px;
}

/* Menu */
.navHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 20px 0 0;
    color: #fff;
    float: right;
    flex-direction: row-reverse;
    width: 90%;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    background-color: var(--deepGreen);
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
  }

  .backPage {
    background-color: var(--deepGreen);
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
}

.fa-bars {
  font-size: 20px;
}

.menu {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--deepGreen);
  z-index: 1;
  transition: all 0.2s ease;
}

.menu.show {
  top: 0;
  position: fixed;
  overflow: hidden;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.back-btn {
  background-color: var(--midGreen);
  padding: 10px;
  border-radius: 15px;
}

.back-btn2 {
  background-color: var(--midGreen);
  padding: 10px;
  border-radius: 15px;
  margin-left: 35px;
}

.menu-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.navContainer {
  text-align: center;
}

.menu ul {
  list-style: none;
  text-align: left;
  display: inline-block;
}

.menu li {
  display: flex;
  padding: 10px;
  align-items: center;
  margin-top: 20px;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.fa {
  margin-right: 10px;
}

.profileFlex {
  width: 100%;
  display: flex;
  align-items: center;
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
  justify-content: center;
}

.profile1 {
  font-size: 35px;
  margin-right: 15px;
}

.profileTxt {
  color: var(--white);
}

.menu li.active {
  font-weight: 600;
  background-color: var(--midGreen);
  border-radius: 15px;
  border: none;
}

.profileName {
  font-weight: 600;
}
  /* Back Header */
  .loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px 20px 0 0;
    color: #fff;
    float: right;
    width: 90%;
  }

  /* Index page */
  .btnIndex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px !important;
  }

.rewardBox {
  margin: 10px;
  padding: 30px 20px;
  border-radius: 20px;
  margin: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color1 {
  background-color: var(--lightGreen);
}

.color2 {
  background-color: var(--lightBlue);
}

.color3 {
  background-color: var(--lightYellow);
}

.activeText {
  font-weight: 700;
}

.activeTextGreen {
  font-weight: 700;
  color: var(--deepGreen);
}

.rewardGrid2 {
  display: flex;
  align-items: center;
}

.procenter {
  margin: 10px;
}

/* FAQ */
.faq-heading {
  font-size: 14px;
  font-weight: 500;
  color: var(--deepBlue);
  padding: 10px 10px 0 10px !important;
}

.faq-text {
  color: var(--deepBlue);
  width: 85%;
  padding-left: 10px;
  margin-bottom: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.read-more {
  display: none;
}

.faq input[type="checkbox"]:checked+label .faq-text {
  color: var(--deepBlue);
  white-space: unset;
}

.faq {
  width: 100%;
  margin: 40px auto 20px auto;
  position: relative;
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #E1E1E1;
  max-width: 95%;
  margin: 0 auto 0 auto;
}

.faq input[type="checkbox"] {
  display: none;
}

.faq input[type="checkbox"]:checked+label {
  display: block;
  height: 135px;
  transition: height 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type='checkbox']:not(:checked)+label {
  display: block;
  transition: height 0.8s;
  height: 60px;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq input[type='checkbox']:not(:checked) .faq-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none;
}

.faq p a {
  font-size: 14px;
  font-weight: 400;
  color: var(--deepGreen) !important;
}
.mereInfo {
  width: 90%;
  margin: auto;
  text-align: center;
}



/*-------------------- Belønninger -------------------------*/
.rewardHeader {
  margin-top: 60px;
  display: block;
}

.fa-circle-check {
  font-size: 34px;
  color: var(--midGreen);
  margin-right: 10px;
}

.almost {
  width: 34px;
}

.rewardBox1 {
  margin: 10px;
  padding: 30px 10px;
  border-radius: 20px;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  width: 90%;
}

.rewardText {
  margin-left: 10px;
}

.circle {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  border-color: var(--deepGreen);
  border-style: dashed;
}

/* FOOTER */
footer {
  height: 35px;
}

/* Overblik */
.overblik {
  margin: 20px;
}

.overblikList {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.overblikTxt {
  text-align: left;
}

.greenBtn {
  background-color: var(--lightGreen);
  padding: 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 30px !important;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content:center;
}

.colorCircle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.greenArrow {
  color: var(--deepGreen);
  font-size: 20px;
  margin-left: 10px;
}

hr {
  border-top: var(--lineGrey);
}

.overblikTitel {
  text-align: left;
}




.modal-icons {
  display: flex;
  justify-content: space-evenly;
}

.fa-xmark {
  font-size: 20px;
  color: var(--white);
}

.fa-spray-can-sparkles {
  font-size: 70px;
  margin-top: 40px;
}

.fa-glasses {
  font-size: 70px;
  margin-top: 40px;
  --fa-rotate-angle: 30deg;
  color: var(--deepGreen);
}

.modal-overskrift {
  text-align: center;
  margin-top: 20px;
}

.greenBtnModal {
  display: block;
  background-color: var(--lightGreen);
  padding: 10px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 20px !important;
  width: 100%;
  text-align: center;
}

.greenBtnTxt {
  color: var(--deepGreen);
  font-weight: 700;
}

.qrCode {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: transparent;
  margin: 15% auto;
  padding: 20px;
  max-width: 500px;
  animation: modalfade 0.3s;
}

@keyframes modalfade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Card styles */
.card {
  height: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--white);
  display: inline-table;
  color: #333;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  text-align: center;
}

.card-back {
  background-color: var(--white);
  display: inline-table;
  color: var(--deepBlue);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  transform: rotateY(180deg);
  width: 90%;
  text-align: center;
}

.greenBtn2 {
  background-color: var(--lightGreen);
  padding: 20px;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  margin-top: 30px !important;
  width: 100%;

}

.rewardActivatet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.activatetTxt {
  font-weight: 800;
  color: var(--deepGreen);
}

.fChekmark {
  color: var(--deepGreen);
  font-size: 30px;
  margin-left: 10px;
}

.close-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--midGreen);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
}

.fa-arrow-left {
  font-size: 20px;
  color: var(--white);
}

.rewardP1 {
  text-align: left;
  margin-left: 10px;
}



/* Login */
.loginLogo {
  width: 220px;
  padding-bottom: 20px;
}

.loginMaskot {
  width: 100px;
}

.loginImg {
  padding: 10px;
  text-align: center;
}

.loginForm {
  padding: 20px;
  display: grid;
}

.inputLabel {
  margin-bottom: 10px;
}

.checkbox {
  margin-bottom: 30px;
  display: flex;
  color: var(--deepBlue);
}

.forgotPassword {
  text-decoration: none;
  color: var(--deepGreen);
  margin-top: 10px;
  font-style: italic;
  font-size: 12px;
}

.form-control {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--lineGrey);

}

.loginCenterTxt {
  margin-top: 20px;
  text-align: center;
  color: var(--deepBlue);
}

.txtLine:after,
.txtLine:before {
  content: "\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
}

.socialLinks {
  display: flex;
  justify-content: center;
}

.fbLog, .googleLog {
  background-color: var(--lightYellow);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  text-align: center;
  line-height: 55px;
  margin: 20px;
}

.googleLink, .fbLink {
  color: var(--deepYellow);
  font-size: 20px;
}

::placeholder {
  opacity: 50%;
}

/* -------------------------Opret konto------------------------ */
.dateForm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
}

.month{
  padding: 10px;
  width: 90%;
  border-color: var(--lineGrey);
  border-radius: 10px;
}

.year{
  padding: 10px;
  width: 100%;
  border-color: var(--lineGrey);
  border-radius: 10px;
  -webkit-appearance: none;
}
.day {
  padding: 10px;
  width: 90%;
  border-color: var(--lineGrey);
  border-radius: 10px;
}

form span {
  display: block;
}

.error {
  color: red;
  font-size: 12px;
  text-decoration: none;
  font-style: italic;
}

.checkboxSquare{
  height: 20px;
  width: 20px;
  border: 5px;
  margin-left: 10px;
}

.checkboxSquare2 {
  height: 20px;
  width: 45px;
  border: 5px;
  margin-left: 10px;
}

.interest {
  display: flex;
  padding: 15px;
  margin-top: 10px;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid var(--lineGrey);

}

.interestbox {
  display: flex;
  color: var(--deepBlue);
}

.sendMails {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.intMails {
  border: 1px solid var(--lineGrey);
  padding: 10px;
  border-radius: 10px;
}

.vilkr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* Medlemskort */

.underOverskrift2 {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-weight: 900;
  color: var(--deepBlue);
  margin-bottom: 20px;
}

.medlemskort {
  background-color: var(--cardYellow);
  text-align: center;
  margin: 20px 0px;
  border-radius: 20px;
  border: none;
  padding: 20px 0px;
}

.barCode {
  width: 250px;
  height: 10vh;
}

.barcodeBackground {
  background-color: var(--white);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.medlemsNavn, .medlemsTal {
  color: var(--white);
}

.medlemsNavn {
  margin: 10px;
}

.blackSquare {
  background-color: var(--black);
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.marginClass {
  margin: 20px;
  text-align: center;
}

.marginClassLeft {
  margin: 20px;
}

/* Planer */
.planPrice {
  color: var(--deepYellow);
}

.planTxt {
  text-align: start !important;
  margin-bottom: 15px;
}

.selectedPlan {
  border: 1px;
  border-style: dashed;
  border-radius: 20px;
  padding: 20px 0px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}













/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--white);
  color: var(--deepBlue);
  padding: 18px;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid black; /* Add border style here */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: var(--white);
  margin-bottom: 0;
  border-radius: 20px 20px 0 0;
  border: 2px solid var(--deepYellow);
  border-bottom: none;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 20px;
  padding-top: 0;
  display: none;
  overflow: hidden;
  background-color: var(--white);
  border-radius: 0 0 20px 20px;
  border: 2px solid var(--deepYellow);
  border-top: none;
  text-align: left;
  line-height: 20px;
}

.collapsible.active .planTxt {
  color: var(--deepYellow);
  font-weight: bold;
  margin-bottom: 0;
}

.readmore {
  display: block;
}

.collapsible.active .readmore {
  display: none;
}

.shortTxt {
  display: block;
}
.collapsible.active .shortTxt {
  display: none;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .show-password-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.password-wrapper input[type="password"] {
  padding-right: 40px; /* Adjust the padding to make space for the button */
}
